 :root {
   --border-color: black;
   --text-color: black;
   --background-color: white;
   --digitshovercolor: rgb(211, 211, 211);
   --optionsbackgroundcolor: rgb(255, 254, 200);

 }

 .darkmode {
   --border-color: white;
   --text-color: white;
   --background-color: black;
   --digitshovercolor: rgb(73, 73, 73);
   --optionsbackgroundcolor: rgb(73, 73, 73);
 }

 #titletext {
   color: var(--text-color);
 }

 body {
   font-family: Comic Sans MS;
   background-color: var(--background-color);
 }

 h1 {
   text-align: center;
   font-size: 80px;
 }

 #board {
   height: 400px;
   width: 400px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(9, 1fr);
 }

 .tile {
   cursor: pointer;
   border: 1px solid;
   border-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.3rem;
   border-color: var(--border-color) !important;
 }


 #digits {
   height: 50px;
   width: 500px;
   margin: 20px auto;
   display: grid;
   grid-template-columns: repeat(10, 1fr);
 }

 .digit {
   cursor: pointer;
   font-size: 1.3rem;
   border: 1px solid;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--background-color);
   color: var(--text-color);
   border-color: var(--border-color);
 }

 .digit:hover {
   background-color: var(--digitshovercolor) !important;
 }

 #Options {
   background-color: var(--optionsbackgroundcolor);
   border: 2px solid var(--border-color);
   position: absolute;
   border-radius: 1em;
   padding: 20px 20px;
   color: var(--text-color);
   font-size: 1rem;
   height: fit-content;
   width: fit-content;
 }

 #colormenu {
   margin-top: 10px;
   height: 40px;
   width: 100%;
   position: relative;
   display: inline;
 }

 #colorblack {
   position: relative;
   height: 40px;
   width: 40px;
   background-color: var(--border-color) !important;
   display: inline-block;
   border: 2px solid var(--background-color) !important;
   border-radius: 50%;
   cursor: pointer;
 }

 #colorred {
   position: relative;
   height: 30px;
   width: 30px;
   background-color: red;
   display: inline-block;
   border-radius: 50%;
   cursor: pointer;
 }

 #colorgreen {
   position: relative;
   height: 30px;
   width: 30px;
   background-color: green;
   display: inline-block;
   border-radius: 50%;
   cursor: pointer;
 }

 #timer {
   text-align: center;
   font-size: 20px;
   color: var(--text-color);
 }

 #BG {
   background-color: rgb(175, 175, 175);
 }

 #EN {
   background-color: rgb(255, 255, 255);
 }

 #BG,#EN {
   position: relative;
   height: 30px;
   width: 30px;
   border: 1px solid black;
   display: inline-flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   border-radius: 1em;
   border-radius: 5px;
   color:black;
 }

 #BG:hover,
 #EN:hover {
   background-color: rgb(175, 175, 175) !important;
   cursor: pointer;
 }

 #MissingBlocks {
   width: 25px;
   height: 20px;
   border-radius: 5px;
   border-width: 0;
   border: 1px solid rgb(146, 146, 146);
   text-align: center;
 }

 #MissingBlocks:focus {
   outline: none;
 }

 #MissingBlocksButton,
 #RestartButton {
   width: 80px;
   padding: 0px;
   border-radius: 1em;
   height: 30px;
   border: 1px solid rgb(255, 255, 255);
   outline: none;
   background-color: rgb(85, 221, 255);
   cursor: pointer;

 }

 #MissingBlocksButton:hover,
 #RestartButton:hover {
   background-color: rgb(39, 201, 255);
 }

 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }


 #OptionsTitle {
   text-align: center;
   font-size: 20px;
 }


 [id="00"] {
   border-top: 3px solid black;
   border-left: 3px solid black;

 }

 [id="01"] {
   border-top: 3px solid black;

 }

 [id="02"] {
   border-top: 3px solid black;
   border-right: 3px solid black;

 }

 [id="03"] {
   border-top: 3px solid black;

 }

 [id="04"] {
   border-top: 3px solid black;

 }

 [id="05"] {

   border-top: 3px solid black;
   border-right: 3px solid black;
 }

 [id="06"] {
   border-top: 3px solid black;

 }

 [id="07"] {
   border-top: 3px solid black;

 }

 [id="08"] {
   border-top: 3px solid black;
   border-right: 3px solid black;

 }

 [id="09"] {
   border-left: 3px solid black;
 }

 [id="18"] {
   border-left: 3px solid black;
   border-bottom: 3px solid black;
 }

 [id="27"] {
   border-left: 3px solid black;

 }

 [id="36"] {
   border-left: 3px solid black;

 }

 [id="45"] {
   border-left: 3px solid black;
   border-bottom: 3px solid black;

 }

 [id="54"] {
   border-left: 3px solid black;
 }

 [id="63"] {
   border-left: 3px solid black;
 }

 [id="72"] {
   border-left: 3px solid black;
   border-bottom: 3px solid black;
 }

 [id="73"] {
   border-bottom: 3px solid black;
 }

 [id="74"] {
   border-bottom: 3px solid black;
   border-right: 3px solid black;
 }

 [id="75"] {

   border-bottom: 3px solid black;
 }

 [id="76"] {
   border-bottom: 3px solid black;

 }

 [id="77"] {
   border-bottom: 3px solid black;
   border-right: 3px solid black;

 }

 [id="78"] {
   border-bottom: 3px solid black;
 }

 [id="79"] {
   border-bottom: 3px solid black;
 }

 [id="80"] {
   border-bottom: 3px solid black;
   border-right: 3px solid black;
 }

 [id="71"] {
   border-right: 3px solid black;
 }

 [id="62"] {
   border-right: 3px solid black;
 }

 [id="53"] {
   border-right: 3px solid black;
   border-bottom: 3px solid black;

 }

 [id="44"] {
   border-right: 3px solid black;

 }

 [id="35"] {
   border-right: 3px solid black;

 }

 [id="26"] {
   border-right: 3px solid black;
   border-bottom: 3px solid black;
 }

 [id="17"] {
   border-right: 3px solid black;
 }

 [id="11"] {
   border-right: 3px solid black;
 }

 [id="20"] {
   border-bottom: 3px solid black;
   border-right: 3px solid black;
 }

 [id="29"] {
   border-right: 3px solid black;

 }

 [id="38"] {
   border-right: 3px solid black;

 }

 [id="47"] {
   border-bottom: 3px solid black;
   border-right: 3px solid black;

 }

 [id="56"] {
   border-right: 3px solid black;
 }

 [id="65"] {
   border-right: 3px solid black;
 }

 [id="65"] {
   border-right: 3px solid black;
 }

 [id="14"] {
   border-right: 3px solid black;
 }

 [id="23"] {
   border-bottom: 3px solid black;
   border-right: 3px solid black;

 }

 [id="32"] {
   border-right: 3px solid black;
 }

 [id="41"] {
   border-right: 3px solid black;
 }

 [id="50"] {
   border-bottom: 3px solid black;
   border-right: 3px solid black;
 }

 [id="59"] {
   border-right: 3px solid black;
 }

 [id="68"] {
   border-right: 3px solid black;
 }

 [id="77"] {
   border-right: 3px solid black;
 }

 [id="19"] {
   border-bottom: 3px solid black;
 }

 [id="21"] {
   border-bottom: 3px solid black;

 }

 [id="22"] {
   border-bottom: 3px solid black;

 }

 [id="24"] {
   border-bottom: 3px solid black;
 }

 [id="25"] {
   border-bottom: 3px solid black;
 }

 [id="46"] {
   border-bottom: 3px solid black;

 }

 [id="48"] {
   border-bottom: 3px solid black;
 }

 [id="49"] {
   border-bottom: 3px solid black;
 }

 [id="51"] {
   border-bottom: 3px solid black;

 }

 [id="52"] {
   border-bottom: 3px solid black;

 }


 .theme-checkbox {
   border: 1px solid black;
   --toggle-size: 8px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   width: 6.25em;
   height: 3.125em;
   background: -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, #2a2a2a)) no-repeat;
   background: -o-linear-gradient(left, white 50%, #2a2a2a 50%) no-repeat;
   background: linear-gradient(to right, white 50%, #2a2a2a 50%) no-repeat;
   background-size: 205%;
   background-position: 0;
   -webkit-transition: 0.4s;
   -o-transition: 0.4s;
   transition: 0.4s;
   border-radius: 99em;
   position: relative;
   cursor: pointer;
   font-size: var(--toggle-size);
 }

 .theme-checkbox::before {
   content: "";
   width: 2.25em;
   height: 2.25em;
   position: absolute;
   top: 0.270em;
   left: 0.438em;

   background: -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, #2a2a2a)) no-repeat;
   background: -o-linear-gradient(left, white 50%, #2a2a2a 50%) no-repeat;
   background: linear-gradient(to right, white 50%, #2a2a2a 50%) no-repeat;
   background-size: 205%;
   background-position: 100%;
   border-radius: 50%;
   -webkit-transition: 0.4s;
   -o-transition: 0.4s;
   transition: 0.4s;

 }

 .theme-checkbox:checked::before {
   left: calc(100% - 2.25em - 0.438em);
   background-position: 0;
 }

 .theme-checkbox:checked {
   background-position: 100%;
 }